<h2>Products</h2>
  <div *ngFor="let product of products" class="singleProduct">

    <h3>
      <a [title]="product.name + ' details'">
        {{ product.name }}
      </a>
      <br>
      <img src="/assets/{{product.source}}" width="250" height="250"/>
    </h3>
  
    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <p *ngIf="product.normalPrice">Normal Price: {{product.normalPrice}}</p>
    <p *ngIf="product.specialPrice">Special Price: {{product.specialPrice}}</p>
  
    <button (click)="addToCheckout()">
      Add to Checkout
    </button>
    <hr class="lineForHR">
  
  </div>
